<!DOCTYPE html>
<html lang="en" ng-app="resumeApp">

  <head>
    <meta charset="utf-8">
    <title>Brad Wight - Resume</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/css/style.css" rel="stylesheet">

    <!-- Fallback for NoScript -->
    <noscript>
    <style type="text/css">
     body {
        display: block;
     }
    </style>
    </noscript>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
		<section class="container" ng-controller="MainController">

			<!-- Header -->
			<header class="row-fluid">
				<div class="title span7">
					<img ng-src="{{data.header.image}}" title="That`s me!" alt="My Profile"/>
					<h1>{{data.header.name}}</h1>
					<h2>{{data.header.title}}</h2>
				</div>
				<div class="social offset1 span4">
					<ul>
						<li><i class="icon-home"></i>{{data.header.location}}</li>

						<li><i class="icon-phone"></i>{{data.header.phone}}</li>
                        <li><i class="icon-envelope-alt"></i>{{data.header.email}}</li>
                        <li></li>
                        <br>
						<li>
                            <a ng-href="{{data.header.linkedin}}"><i class="icon-linkedin"></i></a>
                            <a ng-href="{{data.header.twitter}}" ><i class="icon-twitter" ></i></a>
                            <a ng-href="{{data.header.facebook}}" ><i class="icon-facebook" ></i></a>
                            <a ng-href="{{data.header.google}}" ><i class="icon-google-plus" ></i></a>
                            <a ng-href="{{data.header.github}}" ><i class="icon-github" ></i></a>
                        </li>
					</ul>
				</div>
			</header>

			<!-- Welcome Text -->
			<article class="row-fluid">
				<header class="span3">
					<h3>Summary</h3>
				</header>
				<div class="span9 ">
					<p class="">{{data.header.bio}} <br>
				</div>
			</article>

			<!-- Skills -->
			<article class="row-fluid">
				<header class="span3">
					<h3>Skills</h3>
				</header>
				<div class="span9">
					<div class="row-fluid skills">
						<ul class="span6">
							<li><h4>Programming Languages / Formats</h4></li>
                            <li ng-repeat="skill in data.skills.programming"><strong>{{skill.title}}</strong> - {{skill.content}}</li>
						</ul>
						<ul class="span6">
							<li><h4>Languages / Frameworks / Applications</h4></li>
                            <li ng-repeat="skill in data.skills.libframe"><strong>{{skill.title}}</strong> - {{skill.content}}</li>
						</ul>
					</div>
				</div>
			</article>

			<!-- Education -->
			<article class="row-fluid">
				<header class="span3">
					<h3>Education</h3>
				</header>
				<div class="span9">
					<h4>{{data.education.university}}</h4>
					<h5>{{data.education.year}}</h5>
                    <h5>Major: {{data.education.major}}</h5>
                    <h5>Degree: {{data.education.degree}}</h5>
				</div>
			</article>

			<!-- Work -->
			<article class="row-fluid">
				<header class="span3">
					<h3>Work Experience</h3>
				</header>
				<div class="span9">
                    <span ng-repeat="item in data.experience">
                        <h4>{{item.title}} | {{item.company}}</h4>
                        <h5>{{item.date}}</h5>
                        <ul>
                            <li ng-repeat="i in item.items">- {{i.title}}</li>
                        </ul>
					</span>
				</div>
			</article>

            <!-- Certifications -->
            <article class="row-fluid">
                <header class="span3">
                    <h3>Certifications</h3>
                </header>
                <div class="span9">
                    <ul>
                        <li ng-repeat="item in data.certifications">- {{item.title}}</li>
                    </ul>
                </div>
            </article>

			<!-- Interests -->
			<article class="row-fluid">
				<header class="span3">
					<h3>Interests</h3>
				</header>
				<div class="span9">
                    <span ng-repeat="item in data.interests">{{item.title}} </span>
				</div>
			</article>

			<!-- Footer -->
			<footer>
				&copy; 2014 Brad Wight
				<a href="#">Download as PDF</a> | <a href="#" onclick="javascript:window.print();">Print</a> | <a href="#top">To top <i class="icon-arrow-up"></i></a>

			</footer>
	</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
  <script src="app/bower_components/angular/angular.min.js"></script>
  <script src="app/app.js"></script>
  <script src="app/controllers/main.js"></script>
	</body>

</html>
